<div class="container">
    <div class="row">
        <h1 class="text-center">Escolher filtros</h1>
        <form action="/" method="POST">
            <div class="form-group">
                <label for="type">Tipo</label>
                <select class="form-control" id="type" name="type">
                    <option>carro</option>
                    <option>moto</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Marca</label>
                <input type="text" name="mark" placeholder="Ex.: fiat" class="form-control input-xs" required>
            </div>
            <div class="form-group">
                <label for="model">Modelo</label>
                <input type="text" name="model" placeholder="Ex.: uno" class="form-control input-xs" required>
            </div>
            <div class="form-group">
                <label for="init_year">Ano inicial(mínimo)</label>
                <input type="text" name="init_year" placeholder="Ex.: 2010" class="form-control input-xs" required>
            </div>
            <div class="form-group">
                <label for="end_year">Ano final(máximo)</label>
                <input type="text" name="end_year" placeholder="Ex.: 2018" class="form-control input-xs" required>
            </div>
            <div class="form-group">
                <label for="min_price">Preço mínimo</label>
                <input type="text" name="min_price" placeholder="Ex.: 2000" class="form-control input-xs" required>
            </div>
            <div class="form-group">
                <label for="max_price">Preço máximo</label>
                <input type="text" name="max_price" placeholder="Ex.: 15000" class="form-control input-xs" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>